<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"  [routerLink]="['inicio']">AuthO</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  [routerLink]="['inicio']"> Inicio </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  [routerLink]="['catalogo']"> Catalogo </a>
      </li>

      <li class="nav-item" *ngIf="auth0Service.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['miembros']"> Miembros </a>
      </li>

    </ul>
    <span class="navbar-text">
      <button class="btn btn-primary btn-sm" *ngIf="!auth0Service.isAuthenticated()" (click)="login()"> Log In </button>
      <button class="btn btn-primary btn-sm" *ngIf="auth0Service.isAuthenticated()" (click)="logout()"> Log Out </button>
      Ejemplo de AuthO con Angular
    </span>
  </div>
</nav>